* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

h1 {
  background-color: #212529;
  color: #e6f4f5;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  font-style: oblique;
}

h2 {
  background-color: #002663;
  color: #e6f4f5;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
}

h3 {
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

h4 {
  font-style: italic;
  font-size: 18px;
}

/* ------Estilos blockHeader----------------------------------------------*/

header {
  z-index: 2000;
}

.blockHeader_logo {
  width: 90px;
  height: 90px;
}

.nav-item a {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
}

/* ------Estilos contentOne----------------------------------------------*/

.contentOne {
  padding: 0px 30px 0px 30px;
}

.contentOne img {
  width: 180px;
  height: 200px;
}

.contentOne p {
  padding: 5px;
  font-size: 19px;
  font-weight: bold;
}

.contentOne__ligue {
  padding: 10px;
  text-align: center;
}

/* ------Estilos contentOne plus----------------------------------------------*/

.contentOne_plus {
  padding: 0px 30px 0px 30px;
}

.contentOne__plus-ligue {
  padding: 10px;
}

.contentOne__plus-ligue h3 {
  text-transform: uppercase;
}

.contentOne__plus-ligue li {
  font-weight: bold;
  color: #002663;
  padding: 10px;
}

.contentOne__plus-ligue img {
  width: 45px;
  height: 55px;
}

/* ------Estilos blockFooter ------------------------------------------------*/

.blockFooter {
  padding: 15px;
  align-items: center;
  background-color: #212529;
  color: #e6f4f5;
}

.blockFooter_copyright p {
  text-decoration: underline;
  font-style: oblique;
  font-size: 18px;
}

.blockFooter_socialMedia img {
  width: 30px;
  height: 30px;
}

.blockFooter_socialMedia button:hover {
  background-color: #29ec0f;
}

/* ------Estilos internacional cups--------------------------------------*/

.inter {
  padding: 0px 30px 0px 30px;
}

.inter_cup {
  text-align: center;
  font-weight: bold;
}

.inter_logo {
  width: 150px;
  height: 150px;
  padding: 10px;
}

.inter_gallery {
  padding: 0px 30px 0px 30px;
}

.inter_carousel img {
  height: 550px;
  padding: 30px;
}

.teamUefa {
  padding: 0px 30px 0px 30px;
}

.teamUefa_info li {
  font-weight: bold;
  color: #10223f;
}

.teamUefa_info p {
  font-style: oblique;
}

.teamUefa_media video {
  height: 400px;
  width: 600px;
}

.teamConmebol {
  padding: 0px 30px 0px 30px;
}

.teamConmebol_info li {
  font-weight: bold;
  color: #062c69;
}

.teamConmebol_info p {
  font-style: italic;
}

.teamConmebol_media video {
  height: 350px;
  width: 600px;
}

/* ------Estilo referente al matchresults-----------------------------------------------*/

.tables {
  padding: 10px 30px 0px 30px;
}

.tableResult {
  border-bottom: 2px solid black;
  text-align: center;
  color: #35495e;
  font-size: 18px;
}

.tableResult th {
  background-color: #10223f;
  color: white;
}

.tableResult td {
  background-color: #696c70;
  color: white;
}

.tableResult img {
  width: 110px;
  height: 150px;
}

/* ------Estilo referente a Transfer Market-------------------------------------------------*/

.boxOne {
  padding: 0px 30px 0px 30px;
  border-bottom: solid 2px black;
}

.boxOne_transfer {
  padding: 15px 300px 0 300px;
}

.boxOne_transfer th {
  color: yellowgreen;
}

/* ------Estilo National football teams-------------------------------------------------*/

.sectionUno {
  padding: 0px 30px 0px 30px;
}

.transfer {
  padding: 0 200px 100px 200px;
}

.transfer th {
  color: yellowgreen;
}

/* ------estilos About us-------------------------------------------------*/

.aboutUs {
  padding: 0px 30px 0px 30px;
}

.aboutUs_table {
  width: 500px;
}

.aboutUs_form {
  padding-bottom: 100px;
}

/*----------------Media 768px and 1024px------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  * {
    overflow-x: hidden;
  }

  body {
    margin-top: 116px;
    margin-bottom: 100px;
  }

  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .contentOne {
    font-size: 14px;
  }

  .contentOne img {
    width: 90px;
    height: 90px;
  }

  .contentOne__plus-ligue h3 {
    text-align: center;
  }

  .contentOne__plus-ligue li {
    font-size: 12px;
  }

  .contentOne__plus-ligue img {
    width: 25px;
    height: 30px;
  }

  .inter_cup {
    text-align: center;
    font-weight: bold;
  }

  .carousel-item img {
    height: 400px;
  }

  .teamUefa_media video {
    height: 250px;
    width: 350px;
  }

  .teamConmebol_media video {
    height: 250px;
    width: 350px;
  }

  .tableResult {
    color: #35495e;
    font-size: 12px;
  }

  .boxOne_transfer {
    padding: 20px 70px 20px 70px;
  }

  .transfer {
    padding: 20px 80px 20px 80px;
  }

  .blockFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2000;
  }
}

/*----------------Media 600px------------------------*/

@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }

  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

  body {
    margin-top: 116px;
  }

  .contentOne__plus {
    padding: 25px;
  }

  .inter_cup {
    text-align: center;
    font-weight: bold;
  }

  .carousel-item img {
    height: 280px;
  }

  .teamUefa_media video {
    height: 230px;
    width: 300px;
    padding: 10px, 23px 10px 20px;
  }

  .teamConmebol {
    padding-bottom: 25px;
  }

  .teamConmebol_media video {
    height: 190px;
    width: 300px;
    padding: 10px, 20px 10px 20px;
  }

  .tableResult {
    color: #35495e;
    font-size: 12px;
  }

  .tableResult {
    border-bottom: none;
  }

  .boxOne_transfer {
    padding: 15px 15px 10px 15px;
  }

  .transfer {
    padding: 15px 20px 10px 20px;
  }

  .aboutUs_form {
    padding-bottom: 20px;
  }
}
